[Unit]
Description=DAPNET <-> APRS Gateway transmitter
After=network.target

[Service]
Type=simple
ExecStart=/opt/dapnet/dapaprsgate/dapaprsgate_trx.py &
WorkingDirectory=/opt/dapnet/dapaprsgate/
User=root

[Install]
WantedBy=multi-user.target

